// Imports
// =========================================================================

@import "normalize/normalize";

// Global styles
// =========================================================================

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

// Fonts
// =========================================================================

$roboto-slab: "Roboto Slab", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;

// Colors
// =========================================================================

$white: #ffffff;
$black: #000000;
$blue42: #423f54;
$blue64: #6472b7;
$bluec1: #c1e1f4;
$gray76: #767481;
$gray9a: #9a98a0;
$brick: #efae7c;

// Basic
// =========================================================================

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  max-width: 1900px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.body {
  min-width: 1900px;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: $roboto-slab;
  color: $gray9a;

  background-color: $white;
}

// Buttons
// =========================================================================

.button {
  display: inline-block;

  vertical-align: middle;
  text-align: center;

  cursor: pointer;
}

.button--round {
  position: relative;

  width: 122px;
  height: 122px;

  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  border-radius: 50%;
  &:hover,
  &:focus,
  &:active {
    border-color: $brick;
  }
  &:active {
    opacity: 0.8;
  }
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);

    width: 60px;
    height: 60px;

    background-image: url("../img/button--round.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.button--hero {
  width: 130px;
  height: 130px;

  background-color: $white;
  &::before {
    top: calc(50% - 30px);
    left: calc(50% - 30px);

    width: 60px;
    height: 60px;

    background-image: url("../img/button--hero.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.button--center {
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

.button--slider {
  position: absolute;
  top: 2px;
  left: 0;

  display: block;
  width: 8px;
  height: 8px;
  margin: 0;
  margin: auto;
  padding: 0;

  vertical-align: middle;

  background-color: rgba($white, 0.7);
  background-image: none;
  border: none;
  &::before {
    content: none;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgba($brick, 0.7);
  }
}

.button--slider-active {
  top: 0;

  width: 12px;
  height: 12px;

  background-color: $brick;
}

// Header
// =========================================================================

.header {
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 55px;
}

.main-nav__logo-link {
  margin: 0;
  padding: 0;

  line-height: 0;
}

.main-nav__logo {
  width: 273px;
  height: 90px;

  color: inherit;
}

.main-nav__menu {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  max-width: 70%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  margin: 0;
  padding: 0;

  a {
    position: relative;

    display: inline-block;
    height: 100%;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;

    font-weight: 900;
    font-size: 14px;
    line-height: 30px;
    font-family: $roboto;
    vertical-align: middle;
    text-align: center;
    color: $blue42;
    text-transform: uppercase;
    letter-spacing: 0.16em;

    border: 1px solid transparent;
    &:hover,
    &:focus {
      border: 1px solid $brick;
      outline: none;
    }
  }

  &--active a::before {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 6px;

    background-color: $brick;
  }
}

// Main
// =========================================================================

.main {
  color: inherit;
}

.main--index {
  color: inherit;
}

//Dots in end of headers
.brick {
  color: $brick;
}

// Hero
// =========================================================================

.hero {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 990px;

  color: $white;

  background-color: #6f6ca3;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__slogan {
  max-width: 950px;
  margin: 0;
  margin-top: 270px;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 400;
  font-size: 120px;
  line-height: 140px;
  text-align: center;
  color: inherit;
  letter-spacing: -0.06em;
  & .hero__dot {
    margin-left: -2px;

    color: $brick;
  }
}

.hero__description {
  max-width: 550px;
  margin: 0;
  margin-bottom: 95px;
  padding: 0;

  font-weight: 400;
  font-size: 27px;
  line-height: 38px;
  font-family: $roboto;
  text-align: center;
}

// About-services
// =========================================================================

.about-services {
  min-height: 970px;
  margin-bottom: 100px;

  background-image: url("../img/about-services.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.about-services__wrapper {
  width: 845px;
  width: 670px;
  padding-top: 140px;
  padding-left: 150px;
}

.section__label {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
  font-family: $roboto;
  color: $blue42;
  text-transform: uppercase;
  letter-spacing: 0.008em;

  opacity: 0.5;
}

.section__title {
  position: relative;

  margin: 0;
  margin-bottom: 100px;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  color: $blue42;
  letter-spacing: -0.0002em;
  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;

    width: 130px;
    height: 4px;

    background-color: $brick;
  }
}

.section__content {
  margin-bottom: 40px;
}

.section__content--big {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  font-family: $roboto-slab;
  color: $gray76;
}

.section__content--small {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  font-family: $roboto;
  color: $gray9a;
}

.section__link {
  position: relative;

  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
  font-family: $roboto;
  color: $blue64;
  text-transform: uppercase;
  letter-spacing: 0.008em;

  &:hover,
  &:focus {
    color: $brick;
  }

  &:hover::before,
  &:focus::before {
    background-color: $brick;
  }

  &:hover::after,
  &:focus::after {
    border-color: transparent transparent transparent $brick;
  }

  &::before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 6px;

    display: block;
    width: 9px;
    height: 8px;

    background-color: $blue64;
  }

  &::after {
    content: "";
    position: absolute;
    right: -43px;
    bottom: 0;

    display: block;
    width: 0;
    height: 0;

    border-width: 10px 0 10px 14px;
    border-style: solid;
    border-color: transparent transparent transparent $blue64;
  }
}

// About-services
// =========================================================================

.about-us {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin-bottom: 150px;

  background-image: url("../img/about-us.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.about-us__wrapper {
  width: 680px;
  margin-left: auto;
}

// Partners
// =========================================================================

.partners {
  margin-bottom: 150px;
  padding-right: 150px;
  padding-left: 150px;
}

.partners__list {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  box-shadow: 0 0 72px 18px rgba($blue64, 0.2);
}

.partners__partner {
  width: 390px;
  height: 200px;
  margin: 0;
  padding: 0;
  &:nth-child(n) {
    border-right: 1px solid rgba($gray76, 0.5);
  }
  &:nth-child(4n) {
    border-right: none;
  }
  &:nth-child(n+5) {
    border-top: 1px solid rgba($gray76, 0.5);
  }
}

.partners__link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition: all 0.5s ease;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: transparent;
  }

  &:hover,
  &:focus,
  &:active {
    filter: none;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-color: $bluec1;

    transition: all 0.5s ease;
  }

  &:active {
    opacity: 0.7;
  }
}

.partners__link--asana {
  background-image: url("../img/asana.png");
  filter: saturate(0);
}

.partners__link--classy {
  background-image: url("../img/classy.png");
  filter: saturate(0);
}

.partners__link--spotify {
  background-image: url("../img/spotify.png");
  filter: saturate(0);
}

.partners__link--treehouse {
  background-image: url("../img/treehouse.png");
  filter: saturate(0);
}

.partners__link--slack {
  background-image: url("../img/slack.png");
  filter: saturate(0);
}

.partners__link--oracle {
  background-image: url("../img/oracle.png");
  filter: saturate(0);
}

.partners__link--kickstarter {
  background-image: url("../img/kickstarter.png");
  filter: saturate(0);
}

.partners__link--disqus {
  background-image: url("../img/disqus.png");
  filter: saturate(0);
}

// Testimonial
// =========================================================================

.testimonial {
  display: flex;
  flex-wrap: wrap;
  min-height: 880px;

  color: $white;

  background-color: $gray9a;
  background-image: url("../img/testimonial.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.section__slider {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.slider__logo {
  width: 101px;
  height: 120px;
  margin-top: 250px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.testimonial__content {
  width: 950px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 0;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.06em;
}

.testimonial__author {
  width: 950px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 0;

  font-size: 27px;
  line-height: 27px;
  font-family: $roboto;
  text-align: center;
  font-style: normal;
}

.testimonial__company {
  width: 950px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  font-family: $roboto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.22em;
}

.section__slidenav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding: 0;
  padding-left: 15px;

  list-style: none;
}

.section__slidecounter {
  position: relative;

  width: 15px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}
